/* Main Body */

body {
	font-family: 'roboto';
}
.jumbotron {
	background-color: #fdacab;
	margin-bottom: 0px;
}
.jumbotron.blog {
	background-color: #3dbeb9;
}
h1#header-title {
	font-weight: 900;
	color: white;
	text-align: center;
}
h3#header-subheading {
	font-weight: 100;
	color: white;
	text-align: center;
}
.intro {
  color: #fdacab;
  font-weight: 900;
}
.explanation {
  color: #3dbeb9;
}

/* SOCIAL ICONS IN FOOTER */
.social-icon .fa:hover{
  font-size: 330%;
  transition: 0.3s;
  color: #fdacab;
}
.fa {
  margin: 0 6px;
}
.social-icon{
  text-align: center;
  font-size: 16px;
  font-family: 'roboto';
}
.social-icon>a{
  text-decoration: none;
  color: white;
}
/* END OF SOCIAL ICONS IN NAVBAR*/


/* NAVBAR */

.nav.nav-tabs {
	background-color: white;
	margin-bottom: 5%;
}
.nav-tabs {
    border-bottom: none;
}
.nav.nav-tabs li {
	    	width: 20%;
    text-align: center;
}

.nav-tabs.main a {
	color:#3dbeb9;
}
.nav-tabs.other a {
  color:#fdacab;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
    color: white;
    border-radius:0px;
}
.nav.main>li>a:focus, .nav.main>li>a:hover {
   border: 1px solid #fdacab;
}
.nav.other>li>a:focus, .nav.other>li>a:hover {
   border: 1px solid #3dbeb9;
}

#active>a {
  font-weight: bold;
}

/* Shutter Out Horizontal General */
.hvr-shutter-out-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background: white;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-shutter-out-horizontal:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-shutter-out-horizontal:hover a, .hvr-shutter-out-horizontal:focus a, .hvr-shutter-out-horizontal:active a {
  color: white;
}
.hvr-shutter-out-horizontal:hover:before, .hvr-shutter-out-horizontal:focus:before, .hvr-shutter-out-horizontal:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* Shutter Out Horizontal Home */
.hvr-shutter-out-horizontal.main:before {
  background: #fdacab;
}

/* Shutter Out Horizontal Other Pages */
.hvr-shutter-out-horizontal.other:before {
  background: #3dbeb9;
}

/* END OF NAVBAR */

/* FOOTER */
/* Footer General*/

.footer p {
  color: white;
}
.alignleft {
  float: left;
}
.alignright {
  float: right;
}
.alignleft a , .alignright a{
  color: white;
  text-decoration: none;
}

/* Footer General*/
.footer {
  margin-top: 20px;
  padding-top: 10px;
  display: block;
  width: 100%;
}

/* Footer Main Page*/
.footer-main {
  background-color: #fdacab;
}
.footer-main #active-ft {
  font-weight: bold;
  color: #3dbeb9;
}
.footer-main .alignleft a:hover , .footer-main .alignleft a:focus , .footer-main .alignright a:hover , .footer-main .alignright a:focus {
  color: #3dbeb9;
}

/* Footer Other Pages */
.footer-other {
  background-color: #3dbeb9;
}
.footer-other #active-ft {
  font-weight: bold;
  color: #fdacab;
}
.footer-other .alignleft a:hover , .footer-other .alignleft a:focus , .footer-other .alignright a:hover , .footer-other .alignright a:focus {
  color: #fdacab;
}

/* Social Icons in Footer General*/
.social-icon{
  text-align: center;
  font-size: 16px;
  font-family: 'roboto';
}
.social-icon>a{
  text-decoration: none;
  color: white;
}
.fa {
  margin: 0 6px;
}
/* Translates icon up & changes color when hovered over */
.social-icon .fa{
  transition: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.social-icon .fa:hover , .social-icon .fa:focus , .social-icon .fa:active{
  font-size: 300%;
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}
  /* Social Icons on Home Page */
.footer-main .social-icon .fa:hover{
  color: #3dbeb9;
}
  /* Social Icons on Other Pages */
.footer-other .social-icon .fa:hover{
  color: #fdacab;
}

/* SEARCH BAR */
.input-group{
  width: 40%;
  margin: 0 auto;
}

  /*Search Bar on Home Page */

.footer-main .input-group-btn>button {
  background-color: #3dbeb9;
  color: white;
}
.footer-main .input-group-btn>button:hover {
  /* Add some parameters?? */
}
.footer-main input{
  color: #3dbeb9;
}

/* Placeholder Color - Home */
.footer-main input::-webkit-input-placeholder {
color: #fdacab !important;
}
.footer-main input:-moz-placeholder { /* Firefox 18- */
color: #fdacab !important;  
}
.footer-main input::-moz-placeholder {  /* Firefox 19+ */
color: #fdacab !important;  
}
.footer-main input:-ms-input-placeholder {  
color: #fdacab !important;  
}

  /*Search Bar on Other Pages */  

.footer-other .input-group-btn>button {
  background-color: #fdacab;
  color: white;
}
.footer-other .input-group-btn>button:hover {
  /* Add some parameters?? */
}
.footer-other input{
  color: #fdacab;
}

/* Placeholder Color - Other */
.footer-other input::-webkit-input-placeholder {
color: #3dbeb9 !important;
}
.footer-other input:-moz-placeholder { /* Firefox 18- */
color: #3dbeb9 !important;  
}
.footer-other input::-moz-placeholder {  /* Firefox 19+ */
color: #3dbeb9 !important;  
}
.footer-other input:-ms-input-placeholder {  
color: #3dbeb9 !important;  
}

/* END OF SEARCH BAR */

/* END OF FOOTER */

/* BACK TO TOP BUTTON */

.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  border-radius: 100%; /* Creates circular button. Remove line to create square button */
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top-home {
/*Button color for home*/
/*Either pick 0.8 transparent pink: rgba(253, 172, 171, 0.8)  OR 0.8 transparent blue: rgba(61, 190, 185, 0.8); */
  background: rgba(61, 190, 185, 0.8) url(../img/cd-top-arrow.svg) no-repeat center 50%;
}
.cd-top-other {
/*Button color for all pages except home*/
/*Either pick 0.8 transparent pink: rgba(253, 172, 171, 0.8)  OR 0.8 transparent blue: rgba(61, 190, 185, 0.8); */
  background: rgba(253, 172, 171, 0.8) url(../img/cd-top-arrow.svg) no-repeat center 50%;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.cd-top-other:hover {
  background-color:  #3dbeb9;
  opacity: 1;
}
.cd-top-home:hover {
  background-color:  #fdacab;
  opacity: 1;
}
/* Back to top button animation - moves up and down */
.cd-top:hover, .cd-top:focus, .cd-top:active {
  -webkit-animation-name: cd-top-float, cd-top;
  animation-name: cd-top-float, cd-top;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

@-webkit-keyframes cd-top {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@keyframes cd-top {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@-webkit-keyframes cd-top-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes cd-top-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
/* End of animation */
/* END OF BACK TO TOP BUTTON */

/*About Page*/

.abt-img img {
  position: relative;
  width: 100%;
  display: block;
  border-radius:50%;
}

.abt-img {
  position: relative;
 
  display: block;
  border-radius:50%;
}

.block {
  height: 210px;
  margin-top: 40px;
}


/*End of About Page */

/*Blog Page */

#blog-content .row {
    margin-left: 20%;
    margin-right: 5%;
}

.post-box {
    display: block;
    margin: 0 -6px 18px;
}

figure img {
    width: 100%;
    opacity: 0.8;
    border-radius: 4% 4% 0% 0%;
}

.post-box:hover figure img {
  opacity: 1;
}

.post-box {
  border: 5px solid #fdacab;
    border-radius: 5%;
}

.post-box:hover  {
border: 5px solid #3dbeb9;
    border-radius: 5%;
}

a:hover {
  text-decoration: none;
}

.category {
    font-weight: 300;
    font-size: 25px;
}

.post-box p {
  text-align: center;
  font-family: 'roboto';
  font-weight: 500;
  color: #3dbeb9;
}


/*End of Blog page */

/* Thank you Pages */
.thankyou a {
  text-decoration: none;
  color: #3dbeb9;
}
.thankyou a:hover {
  color: #fdacab;
}
.thankyou{
  padding-bottom: 50px;
  padding-top: 20px;
}
/* End of Thank You Pages */

/* QUIZ*/

.wrapper {
  text-align:center;
  position:100vh;
  margin: auto 10px;
  height: 100%;
  padding-top: 0px;
  padding-bottom:20px;
}

#quiz {
  background-color: #fdacab;
  padding-bottom: 20px;
  width: 100%;
  border-radius: 2%;
  color: #fff;
  text-align: center;
  padding-top: 5px;
}

.questions {
  font-size: 40px;
  font-weight: 700;
  border-top: 10px solid #FFFFFF;
  border-bottom: 10px solid #FFFFFF;
  padding: 20px;
  background-color: #3dbeb9;
}

.answers div {
  padding: 10px 0 0 0;
  font-size: 25px;
}

.answers div:hover {
  cursor: pointer;
  color: #3dbeb9;
}
/*adds in hovering different colour when selected */ 

.answers {
  padding: 0px 0 10px 0px;
}
/*adds in space between ansers and correct*/

.checker {
  display: inline-block;
  width: 200px;
  margin: 0 auto;
}


.correct, .false {
  background-color: #109D59;
  width: 50px;
  height: 40px;
  line-height: 20px;
  float: left;
  margin-left: 10px;
  font-size: 20px;
}
/*adds in correct answer colour */

.false {
  background-color: #DC4437;
}
/* adds in incorrect answer colour */

/* END OF QUIZ */


/* Media Rules for mobile optimisation */

@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}

@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}




